.Rproj.user
.Rhistory
.RData
.Ruserdata
Yosep_makalah-matematika-realistik_YPMIPA.docx
/.quarto/
_extensions
uji-coba-shinylive_files/
uji-coba-shinylive.qmd
uji-coba-shinylive.html
set-data
presentasi/presentasi-matematika-membumi_files/
shinylive-sw.js
